@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
  }
  .nav-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
  }
  .nav-ul,
.nav-li {
  margin: 0;
}
.nav-ul {
    padding: 25px;
    position: absolute;
    top: 90px;
    width: 230px;
  }
  .nav-li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }